// COLORS
$color-dark: #262626;
$color-black: #000;
$color-primary: #d3ab55;
$color-secondary: #bbb;
$some-color: #1f1d1d;

// FONTS
$font-dancing-script: 'Dancing Script', cursive;
$font-josefin-sans: 'Josefin Sans', sans-serif;
$font-nunito: 'Nunito', sans-serif;
